/* src/styles/RegisterPage.css */

.registerPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.registerContainer {
    width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.registerContainer h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 15px;
}

.inputField,
select {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submitButton {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.submitButton:disabled {
    background-color: #ccc;
}

.errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .formGrid {
        grid-template-columns: 1fr; /* Stack the columns on small screens */
    }
}
